<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Registration Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='registration.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="title">Registration Form</div>
  <div class="content">
    <form id="registration-form" action="{{ url_for('submit_form') }}" method="POST">
      <div class="user-details">
        <div class="input-box">
          <span class="details">FIRST NAME</span>
          <input type="text" name="first_name" placeholder="Enter your first name" required>
        </div>
        <div class="input-box">
          <span class="details">LAST NAME</span>
          <input type="text" name="last_name" placeholder="Enter your last name" required>
        </div>
        <div class="input-box">
          <span class="details">EMAIL</span>
          <input type="text" name="email" placeholder="Enter your email" required>
        </div>
        <div class="input-box">
          <span class="details">PHONE NUMBER</span>
          <input type="text" name="phone" placeholder="Enter your number" required>
        </div>
        <div class="input-box">
          <span class="details">COMPANY NAME</span>
          <input type="text" name="company" placeholder="Enter your company name" required>
        </div>
        <div class="input-box">
          <span class="details">DESIGNATION</span>
          <input type="text" name="designation" placeholder="Enter your designation" required>
        </div>
      </div>
      <div class="session">
        <input type="radio" name="session" id="dot-1" value="dot-1">
        <input type="radio" name="session" id="dot-2" value="dot-2">
        <input type="radio" name="session" id="dot-3" value="dot-3">
        <span class="session">CHOOSE THE SESSION</span>
        <div class="category">
          <label for="dot-1">
            <span class="dot one"></span>
            <span class="session">Session 1</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="session">Session 2</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="session">Session 3</span>
          </label>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="REGISTER">
      </div>
    </form>
  </div>
</div>
<script>
  //helps the form to reload
  document.getElementById('registration-form').addEventListener('submit', function() {
    setTimeout(function() {
      document.getElementById('registration-form').reset();
    }, 100); 
  });
</script>
</body>
</html>

